*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

h1{
  text-align: center;
}

td{
  overflow:hidden;
  text-overflow: ellipsis;
  max-width:250px;
}

.wrapper{
  padding:25px;
  position: relative;
}

img{
  width:20px;
  height:20px;
}

#placehoder{
  color:transparent;
  background-color: transparent;
  border:none;
}

.table-body-button{
  margin-right:5px;
}

/*main table styles */
.top-table{
  height:50vh;
  width:100%;
  overflow-y:scroll;
}

.table{
  border-collapse: collapse;
}

.table-body > tr{
  border-top:10px solid white;
  background-color: rgb(197, 197, 197);
}

td{
  height: 60px;
}

.first-column{
  width:30px;
}

.last-column{
  width:150px;
}

col{
  width: 250px;
}

.table-head{
  background-color: grey;
}

/*main controls*/
.main-controls{
  margin-top: 25px;
  width:fit-content;
  margin-left:auto;
}

button.main-controls-button{
  height: 25px;
  padding:0 5px;
}

button > *{
  text-decoration:none;
  color:black;
}

/*form styles*/
.form{
  position: absolute;
  top:50%;
  right:50%;
  transform: translate(50%, -50%);
  width:400px;
  background-color: rgb(221, 227, 233);
  -webkit-transform: translate(50%, -50%);
  -moz-transform: translate(50%, -50%);
  -ms-transform: translate(50%, -50%);
  -o-transform: translate(50%, -50%);
  height: 300px;
  padding:25px;
  border-radius:5px;;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  -ms-border-radius:5px;
  -o-border-radius:5px;
  display: flex;
  flex-direction: column;
  gap:16px;
  align-items: center;
  justify-content: center;
}

#name,
#category,
#content{
  width:350px;
}

#content{
  height:100px;
  resize: none;
}

#close{
  position:absolute;
  top:10px;
  right:25px;
  background-color: transparent;
  border:none;
  cursor: pointer;
}

.hidden{
  display: none;
}

.bottom-table{
  margin-top: 40px;
  overflow-y:scroll;
  height:25vh;
}

.table-summary{
  width:100%;
}

#bottom-first-col{
  width:25px;
}

/*archived table */
.archived-table{
  position:absolute;
  top:0;
  left:0;
  padding:25px;
  background-color:rgba(17, 17, 17,0.8);
  color:white;
  height:100vh;
}

.archived-table > h2{
  text-align: center;
  margin-bottom:16px;
}

#close-archived{
  border:none;
  background-color:transparent;
  position:absolute;
  right:25px;
  top:25px;
  color:white;
  cursor: pointer;
}

